.container {
  padding-top: 10px;
  text-align: center;
  font-size: 24px;
}

#speed {
  margin-bottom: 5px;
}

.line {
  border: 2px solid black;
  width: 15%;
}

.timer-zone {
  font-size: 50px;
}

.speed-zone {
  font-size: 50px;
}

.red10 {
  color: red;
}

.windsortech {
  color: #808080;
}

.windsortech a {
    color:inherit;
    text-decoration: none;
}

.playnow-title {
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}

.btn-success {
  width: 30%;
  height: 75px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: block;
  margin: auto;
}

@media only screen and (max-width: 480px) {

.container {
    width: 99%
}

.line {
  width: 120%;
}

.btn-start { 
  width: 80%;
}

}


@media only screen and (min-width: 481px) and (max-width: 853px) {

.container {
    width: 95%
}

#picture {
  width: 75%;
}

.bg-primary {
  width: 75%
}

.bg-info {
  width: 60%
}

.bg-secondary {
  width: 25%
}

.bg-success {
  width: 27%
}

.bg-danger {
  width: 27%
}

.btn-start, .btn-warning { 
  width: 70%;
}



}